:root {
  --dark: #000;
  --course: #F4E408;
  --light: #fff;
}
body {
  margin: 0;
  overflow: hidden;
}
a:focus {
  border: 10px solid black;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  width: 100vw;
  height: 100vh;
}
.white {
  margin: 100vh;
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.darkblue {
  background-color: darkblue;
}

.lightblue {
  background-color: lightblue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.gold {
  background-color: goldenrod;
}

.lightpurple {
  background-color: light purple;
}