:root {
  --dark: #000;
  --course: #F4E408;
  --light: #fff;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
a:focus {
  border: 10px solid white;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  width: 100vw;
  height: 100vh;
}
a {
  padding: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
  letter-spacing: 5px;
}
p {
  font-size: 1.4em;
  margin: 2em;
  letter-spacing: 5px;
}
.white {
  background-color: black;
  color: white;
  font-size: 5em;

}
h1  {
  margin: 1em;
}
.small {
  font-size: 1em;
}
.font {
  font-size: 5em;
  color: white;
}
.lightgreen {
  background-color: lightgreen;
  color: black;
}
.yellow {
  background-color: goldenrod;
}

.darkblue {
  background-color: darkblue;
}

.lightblue {
  background-color: lightblue;
  color: black;
}
.lightblue a {
  color: black;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.lightpurple {
  background-color: purple;
}